<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.dao.UserDao">
    <select id="login" resultType="com.springmvc.pojo.User" >
        select * from User where user_id=#{user_id} and password=#{password}
    </select>
    <insert id="register" parameterType="com.springmvc.pojo.User" keyProperty="id" useGeneratedKeys="true">
        insert into User(user_id,user_name,password,sex,age,birthday)
        values (#{user_id},#{user_name},#{password},#{sex},#{age},#{birthday})
    </insert>
</mapper>
